node_modules
dist
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
CHANGELOG.md
commitlint.config.js
LICENSE
.vscode
Makefile
helm-charts
biome.json
.editorconfig
.idea
coverage*
.prettierrc
.prettierignore
.million
.astro
.github
.vscode
.DS_Store
.tmp
.cache
build
data
backup
.env.*
*.log
tests
buildCache
