{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 110,
	"endOfLine": "lf",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"vueIndentScriptAndStyle": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"semi": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^types$",
		"^@/types/(.*)$",
		"^@/config/(.*)$",
		"^@/lib/(.*)$",
		"^@/hooks/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/components/(.*)$",
		"^@/styles/(.*)$",
		"^@/app/(.*)$",
		"",
		"^[./]"
	],
	"importOrderParserPlugins": [
		"typescript",
		"jsx",
		"decorators-legacy"
	],
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
