---
import DefaultLayout from '@layouts/index.astro';
import fetchApi from '@lib/strapi';
import { BlocksRenderer } from '@strapi/blocks-react-renderer';

const data = await fetchApi({ endpoint: 'mention-legale' });
const content = data?.attributes?.Contenu || [];
---

<DefaultLayout title='Mentions légales' description='Page des mentions légales du site'>
	<h1>Mentions légales</h1>
	<div class='mb-16 lg:mb-32'>
		<BlocksRenderer content={content} />
	</div>
</DefaultLayout>
