---
import BaseLayout from '@layouts/base.astro';

import Footer from '@components/site/global/Footer.astro';
import Navbar from '@components/site/global/navigation/Navbar.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Default title', description = 'Default description' } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
	<header class='container'>
		<Navbar />
	</header>
	<main class='container'>
		<slot />
	</main>
	<Footer />
</BaseLayout>
