---
interface Props {
	title: string;
}

import '../styles/global.scss';
import '../styles/normalize.scss';

const { title = "Default title", description = "Default description" } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />

		<link rel="manifest" href="/site.webmanifest" />
		<link rel="apple-touch-icon" href="/icon.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="theme-color" content="#fafafa" />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body>
		<slot />
		<script defer src="https://polyfill.io/v3/polyfill.min.js"></script>
	</body>
</html>
